<p>Hola <%= @user.email.split('@')[0] %></p>

<p>Hemos creado un nuevo post en Make It Real Blog. Si deseas verlo sigue el siguiente enlace <%= link_to @post.title, @post %>.</p>

<p>Saludos de parte de todo el equipo de Make It Real.</p>
