<p>Hola <%= @user.email.split('@')[0] %></p>

<p>Bienvenido al blog de Make It Real Camp, empieza a leer nuestros articulos <%= link_to 'aquí.', @url %></p>

<p>Saludos de parte de todo el equipo de Make It Real.</p>
